@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #2F4F4F;
    padding: 20px;
    color:white;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.menu-logo {
    display: flex;
}
.menu-options {
    display: flex;
    list-style: none;
}
.menu-lgo {
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    border:2px solid white;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.menu-lgo:hover {
    opacity: 0.2;
}
.menu-options > li {
    margin-right:15px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;

}
.menu-options > li:hover {  
    border-bottom: 2px solid white;
}
#slider {
    height: 600px;
    background-attachment: fixed;
}
#slider img {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 900ms;

}

#slider img.selected {
    opacity: 1;

}

.title-1 {
    padding: 25px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;

   
}
.container-section {
    margin-top: 25px;
    margin-bottom: 25px;

}
.section-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    z-index: 1;
    

}
.container-1 {
    height: 300px;
    background-color: black;
    position: relative;
    top: -90px;
    z-index: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-1 > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;

}
.section-1 div {
    width: 300px;
    height: 400px;
    box-shadow: 20px 20px 1px black ;
    border-radius: 15px;
    cursor: pointer;

}
.banner-1 {
    background-image: url('../img/banner-1.jpg');
    background-position:center;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
.banner-2 {
    background-image: url('../img/banner-2.jpg');
    background-position:center;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
.banner-3 {
    background-image: url('../img/banner-3.jpg');
    background-position:center;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
.banner-4 {
    background-image: url('../img/banner-4.jpg');
    background-position:center;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
footer {
    height: 350px;
    background-color: #2F4F4F;
    margin-top: 50px;

}

.banner-content {
    color:white;
    background-color: black;
    opacity: 0.4;
    transition: 1s;
    font-family: 'Roboto Slab', serif;
}
.banner-content > h3 {
    padding-top: 65px;
    padding-left: 15px;
}
.banner-content > p {
    padding-left:30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: justify;

}
.banner-content:hover {
    opacity: 0;
    color:white;
}
.container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
    background-color: yellowgreen;
    margin: auto;
    position: relative;
    z-index: 1;
    
}
.container-2  > div {
    margin: 25px;
    padding: 25px;
    background-color:yellow ;
    width: 350px;
}

